* { padding:0; margin:0; }

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding:40px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 30px 60px;
}

section {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.5);
    padding: 30px 60px;
    margin: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul { list-style-type: none; margin-top: 20px; }
li { padding: 5px; }